GEMINI_API_KEY=
# Optional; defaults to gemini-3.5-flash
GEMINI_DEBUG_MODEL=gemini-3.5-flash

AUTH_EMAIL=
AUTH_PASSWORD=
JWT_SECRET=
MONGO_URI=
EC2_HOST=
EC2_USER=
EC2_SSH_KEY_BASE64=
APP_BASE_PORT=3000
CERTBOT_EMAIL=
# FRONTEND_URL=https://naaspeeti.xyz
FRONTEND_URL=http://localhost:3000

# RABBITMQ_URL=

# ec2 instance details
EC2_AMI_ID=
EC2_INSTANCE_TYPE=
EC2_KEY_NAME=
EC2_SECURITY_GROUP_ID=

# load balancing
MAX_SERVICES_PER_EC2=

# AUTH_EMAIL=
RABBITMQ_URL=
# EC2_INSTANCE_TYPE=
# EC2_KEY_NAME=
# EC2_AMI_ID=
# EC2_SECURITY_GROUP_ID=
# AUTH_PASSWORD=
# MAX_SERVICES_PER_EC2=
# MONGO_URI=
# EC2_USER=
# JWT_SECRET=
# EC2_HOST=
# EC2_SSH_KEY_BASE64=
# APP_BASE_PORT=
# CERTBOT_EMAIL=
# FRONTEND_URL=

ECR_REPO_URL=
AWS_ACCOUNT_ID=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

REDIS_HOST=
REDIS_PASSWORD=
REDIS_PORT=